*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*--------------fonts---------------------*/
@font-face {
    font-family: oswald;
    src: url(oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: opensans;
    src: url(font/OpenSans-VariableFont_wdth\,wght.ttf);
}
/*--------------nav---------------------*/
nav{
    background-color: black;
    width:100%;
}
nav a{
    display: inline-block;
    padding:10px 15px;
    color:white;
}
nav a:last-child{
    float: right;
}
nav a:hover{
    background-color: silver;
    color:black;
}
/*--------------text---------------------*/
#text{
padding:30px 0px;
margin:20px;
text-align: center;
font-family: oswald;
font-size: 30px;
}
#text h1{
font-size: 48px;
font-weight: 700;
line-height: 72px;
margin-bottom: 10px;
}
#text p{
font-size: 16px;
}
#text p span{
background-color: black;
color:white;
padding:0px 10px;
}
/*--------------header---------------------*/
header{
    position: relative; 
    font-family: oswald;
}
header #imgtext{
    position: absolute;
    top:50%;
    left:20px;
    font-size: 30px;
    color:white; 
}
header #imgtext h2{
font-size: 36px;
line-height: 50px;
letter-spacing: 2px;
}
header #imgtext h1 {
font-size: 70px;
line-height: 80px;
letter-spacing: 4px;
}
header #imgtext button {
border: none;
background-color: rgba(192, 192, 192,0.5);
padding:10px 20px;
font-family: oswald;
font-size: 18px;
}
header #imgtext button:hover{
background-color: silver;
}
/*--------------footer---------------------*/
footer{
      background-color: #616161;
      padding:30px;  
}
footer > a{
    background-color: black;
    color:white;
    padding:10px 20px;
    border:none;
    text-decoration: none;
    font-size: 20px;
}
footer > a:hover{
    background-color: white;
    color:black;
}
footer p{
    margin-top:30px;
    font-size: 1.2rem;
    color:white;
}
footer p a{
    color:white;
}
/*--------------main---------------------*/
main{
background-color: #F1F1F1;
width:100%;
height: 3200px;
display: inline-block;
margin-bottom: 0%;
}
/*--------------main right---------------------*/
main #right{
float:right;
width:27%;
height:100px;
margin-top: 30px;
margin-right: 40px;
}
main #right div{
    margin-bottom: 10px;
}
main #right #girl{
    margin-bottom: 20px;
    position: relative;
}
main #right #textt{
    font-family: opensans;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top:1250px;
    right: 260px;
    color: white;
} 
main #right #texttt{
    font-family: opensans;
    font-size: 15px;
    position: absolute;
    text-align: justify;
    top:220%;
    right: 50px;
    width: 310px;
    color:white;
    line-height: 20px;
    font-size: 15px;
} 
main #right #rightsection .scontent{
    background-color: white;
    width: 350px;   
}
main #right #rightsection h2{
    background-color: black;
    color:white;
    padding:20px;
    font-family: oswald;
    font-size: 20px;
    font-weight: 400;
    width: 350px;  
}
/*--------------posts---------------------*/
main #right #rightsection #posts ul{
padding:0px;
list-style: none;
}
main #right #rightsection #posts ul li{
padding: 10px;
padding-bottom: 0px;
border-top: 1px solid silver;
}
main #right #rightsection #posts ul li:hover{
background-color: silver;
}
main #right #rightsection #posts ul li .lefts{
float: left;
width: 15%;
}
main #right #rightsection #posts ul li .lefts img{
    width:60px;
    height: 60px;
}
main #right #rightsection #posts ul li .rights{
    font-family: opensans;
    font-size: 15px;
    float: right;
    width: 85%;
    height: 20px;
   padding-left: 15px;
}
main #right #rightsection #posts ul li .rights p{
    padding:7px 12px;
}
.clear{
    content:" ";
    clear: both;
}
/*--------------advertise---------------------*/
main #right #rightsection #advertise{
padding:15px;
}
main #right #rightsection #advertise section{
    background-color: #F1F1F1;
    text-align: center;
    padding:110px 0px;
}
/*--------------tags---------------------*/
 main #right #rightsection #tags{
    padding:20px;
 }   
 main #right #rightsection #tags span{
    font-family: opensans;
    background-color: #F1F1F1;
    display:inline-block;
    padding:0px 5px;
    margin: 4px;
    font-size: 15px;
 }
 main #right #rightsection #tags #fashion{
    background-color: black;
    color:white;
    padding: 3px 10px;
 }
/*--------------inspiration---------------------*/
main #right #rightsection #inspiration img{
    width:48%;
    padding:10px 5px;
    margin-left: 2px;
}
/*--------------follow me---------------------*/
main #right #rightsection #follow{
    background-color: white;
    height: 50px;
}
main #right #rightsection #follow a{
    display: inline-block;
    font-size: 25px;
    margin: 10px 5px;
}
/*--------------subscribe---------------------*/
main #right #rightsection #subscribe{
    padding:15px;
}
main #right #rightsection #subscribe input{
    width:100%;
    padding:10px;
    margin-top:20px;  
}
main #right #rightsection #subscribe #sub{
    font-family: opensans;
    background-color: orangered;
    color: white;
    font-weight: 200;
    font-size: 20px;
    margin-top: 5px;
    width:100%;
    height: 35px;
    border:none;
}
main #right #rightsection #subscribe #sub:hover{
    background-color: silver;
    color:black;
}
/*--------------main left---------------------*/
main #left{
float:left;
width:63%;
height: 1000px;
background-color: white;
margin: 30px;
margin-bottom: 0px;
font-family: oswald;
}
main #left h2{
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    font-weight:400;
}
main #left h3{
    text-align: center;
    font-size: 18px;
    font-weight:400;
}
main #left h3 span{
    font-weight:300;
    font-size: 18px;
    color:#616161;
}
main #left #girlhat{
    margin-left: 23px;
    margin-top: 20px;
}
main #left p span{
    font-family: opensans;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}
main #left p{
    margin: 20px;
    font-family: opensans;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
    text-align:justify
}
/*--------------like button---------------------*/
main #left #buttons #like{
    margin: 10px;
    float:left;
    color:black;
    width:90px;
    height: 40px;
    font-family: opensans;
    font-weight: 700;
    font-size: 15px;
    background-color: white;
}
main #left #buttons #like:hover{
    background-color: silver;
}
/*--------------reply button---------------------*/
main #left #buttons #reply{
    margin: 10px;
    float:right;
    background-color: black;
    color: white;
    width:90px;
    height: 40px;
    font-family: opensans;
    font-weight: 700;
    font-size: 15px;
    border: none;
}
main #left #buttons #reply:hover{
    background-color: silver;
    color:black;
}
main #left #buttons #reply span{
    background-color: white;
    color: black;
    padding:5px;
}
/*--------------hr---------------------*/
main #left #hr{
    padding:60px 30px;
    position: relative;
}
main #left #hr #replyimg{
    margin-top: 20px;
    float: left;
    width:100px;
    height: 100px;
}
main #left #hr section{
    position: absolute;
    float:right;
    margin-left: 0px;
    width:60%;
    top:80%;
    text-align: left;
    padding-bottom: 10px;  
 }
 main #left #hr #george{
    font-family: oswald;
    font-size: 15px;
    font-weight: 400;
    color: rgb(143,143,143);
 }
 main #left #hr #georgereply{
    padding-top: 10px;
    font-family: opensans;
    font-size:15px ;
    font-weight:400 ;
    font-style: normal;
 }
main #left #hr #george span{
   font-family: oswald;
   font-weight: 400;
}
main #left2{
    float: left;
  margin-top: 20px;
  margin-bottom: 50px;
}
/*------------------------------------------*/
@media screen and (min-width: 300px) and (max-width: 570px)
{
    main {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin:none;
        padding: none;
        width:1000px;
        height: 6280px;
        
    }
    main #left,
    main #right {
        margin-top: 2px;
        margin-left:15px;
        width:900px;
        float: none;
    }
    main #left {
        margin-bottom: 10px;
        margin-right: 10px;
        height:1150px;
       
    }
    main #left h2,main #left h3{
        font-size: 25px;
    }
    main #left p span{
        font-size: 30px;
    }
    main #left p{
        font-size: 25px;
        line-height: 30px;
    }
    main #left #girlhat{
        margin-left: 80px;
    }

    main #left #buttons {
        margin-top:30px;
    }
    main #right {
        order: 1;
        margin-left:20px;
        background-color: #F1F1F1;
       
    }
    main #right #rightsection #subscribe,
    main #right #rightsection #follow,
    main #right #rightsection #inspiration,
    main #right #rightsection #tags,
    main #right #rightsection #posts,
    main #right #rightsection #advertise,
    main #right #rightsection h2,
    main #right #girl
    {
    margin-left: 23px;   
    width:900px;
    font-size: 30px;

        
    }
    main #right #girl{
        width: 900px;
        height: 500px;
    }
    main #right #rightsection #posts ul li .rights{
        font-size: 25px;
    }
    main #right #rightsection #posts ul li .lefts img{
        width: 75px;
        height: 75px;
    }
    main #right #textt{
        top:527%;
        right:30%;
        font-size: 30px;
    }
    main #right #texttt{
        width:700px;
        top:535%;
        left:30%;
        font-size: 30px;
        line-height: 35px;
    }
    footer{
        
        width: 1000px;
    }
    header{
    }
    header img{
        height:500px;
        width:1000px;
    }
    nav{
        width:1000px;
        height:50px;
        font-size: 30px;
    }
    #text{
        margin-left:250px;
        text-align: center;
    }
    #text h1,#text p{
        width:500px;

    }
    header #imgtext{
        top:40%;
        left:50px;
    }
    main #left #buttons #like,main #left #buttons #reply{
        width: 110px;
        height:55px;
    }
    main #left #hr #replyimg{
        width: 120px;
        height: 120px;
    }
    main #left #hr section{
        left:120px;
    }
    main #left #hr #georgereply,#george{
        font-size: 20px;
    }
}

/*------------------------------------------*/
 @media screen and (min-width: 580px) and (max-width: 1050px) {
  
    main {
        display: flex;
        flex-direction: column;
        align-items: center;   
        height:5650px;
    }
    main #left,
    main #right {
        width: 100%;
    }
    main #left,
    main #right {
        float: none;
    }
    main #left {
        margin-bottom: 20px;
        margin-right: 10px;
    }
    main #right {
        order: 1;
       
    }
    main #right #rightsection #subscribe,
    main #right #rightsection #follow,
    main #right #rightsection #inspiration,
    main #right #rightsection #tags,
    main #right #rightsection #posts,
    main #right #rightsection #advertise,
    main #right #rightsection h2,
    main #right #girl
    {
    margin-left: 80px;   
    width:700px;   
    }
    main #right #girl{
        margin-top:120px;
    }
    main #right #rightsection #subscribe input{
        font-size: 30px;
    }
    main #left #hr #replyimg{
        width:100px;
        height: 100px;
    }
    main #left #hr #george,
    main #left #hr #georgereply{
        font-size: 18px;
        margin-left: 50px;

    }
    main #left #girlhat{
        width:440px;
        height: 400px;
        margin-left: 200px;   
    }
    header img{
        height:550px;
    }
    header #imgtext h1{
        font-size: 49px;
    }
    header #imgtext h2{
        font-size: 30px;
    }
    main #right #texttt{
        top:360%;
        left:15%;
    }
    main #right #textt{
        top:355%;
        left:0%;
    }
    #text h1{
        font-size: 38px;
    }
    #text p{
        font-size: 15px;
    }
    nav{
        width: 100%;
        padding: none;
    }
} 
@media screen and (min-width: 900px) and (max-width: 1000px) {
  
    main {
        display: flex;
        flex-direction: column;
        align-items: center;   
        height:5650px;
    }
    main #left,
    main #right {
        width: 100%;
    }
    main #left,
    main #right {
        float: none;
    }
    main #left {
        margin-bottom: 20px;
        margin-right: 10px;
    }
    main #right {
        order: 1;
       
    }
    main #right #rightsection #subscribe,
    main #right #rightsection #follow,
    main #right #rightsection #inspiration,
    main #right #rightsection #tags,
    main #right #rightsection #posts,
    main #right #rightsection #advertise,
    main #right #rightsection h2,
    main #right #girl
    {
    margin-left: 80px;   
    width:700px;   
    }
    main #right #girl{
        margin-top:120px;
    }
    main #right #rightsection #subscribe input{
        font-size: 30px;
    }
    main #left #hr #replyimg{
        width:100px;
        height: 100px;
    }
    main #left #hr #george,
    main #left #hr #georgereply{
        font-size: 18px;
        margin-left: 50px;

    }
    main #left #girlhat{
        width:440px;
        height: 400px;
        margin-left: 200px;   
    }
    header img{
        height:550px;
    }
    header #imgtext h1{
        font-size: 49px;
    }
    header #imgtext h2{
        font-size: 30px;
    }
    main #right #texttt{
        top:318%;
        left:15%;
        width: 550px;
    }
    main #right #textt{
        top:315%;
        left:0%;
        width: 550px;
    }
    #text h1{
        font-size: 38px;
    }
    #text p{
        font-size: 15px;
    }
    nav{
        width: 100%;
        padding: none;
    }
} 
